<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Basic Page Needs ================================================== -->
    <meta charset="UTF-8">
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= javascript_include_tag 'http://code.jquery.com/jquery-1.8.3.min.js' %>


    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Mobile Specific Metas ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name='robots' content='noindex,nofollow' />
    <link rel='stylesheet' id='google-fonts-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C600%7COswald%3A400%2C300%2C700&#038;subset=latin%2Clatin-ext&#038;ver=3.5.2' type='text/css' />

    <%= stylesheet_link_tag 'all' %>
    <!-- END CUSTOM PAGE SECTIONS STYLE -->

  </head>

  <body class="home blog">
    <%= yield %>

    <resources>
      <script type='text/javascript' src='http://themes.webcreations907.com/ninezeroseven/option-one/wp-content/themes/ninezeroseven/assets/js/supersized.3.2.7.js?ver=1.0'></script>
      <script type='text/javascript' src='http://themes.webcreations907.com/ninezeroseven/option-one/wp-content/themes/ninezeroseven/assets/js/supersized.shutter.min.js?ver=1.0'></script>
      <script type='text/javascript' src='http://themes.webcreations907.com/ninezeroseven/option-one/wp-content/themes/ninezeroseven/assets/js/jquery.flexslider-min.js?ver=1.0'></script>
      <script type='text/javascript' src='http://themes.webcreations907.com/ninezeroseven/option-one/wp-content/themes/ninezeroseven/assets/js/scripts.js?ver=1.0'></script>
      <script type='text/javascript' src='http://themes.webcreations907.com/ninezeroseven/option-one/wp-content/themes/ninezeroseven/assets/js/jquery.tweet.js?ver=1.0'></script>
      <script type='text/javascript' src='http://themes.webcreations907.com/ninezeroseven/option-one/wp-content/themes/ninezeroseven/assets/js/jquery.prettyPhoto.js?ver=1.0'></script>
      <script type='text/javascript' src='http://themes.webcreations907.com/ninezeroseven/option-one/wp-content/themes/ninezeroseven/assets/js/main.js?ver=1.0'></script>
      <script type='text/javascript' src='http://themes.webcreations907.com/ninezeroseven/option-one/wp-content/themes/ninezeroseven/assets/js/jquery.form.js?ver=1.0'></script>
      <script type='text/javascript' src='http://themes.webcreations907.com/ninezeroseven/option-one/wp-content/themes/ninezeroseven/assets/js/jquery.validate.min.js?ver=1.0'></script>
      <script type='text/javascript' src='http://themes.webcreations907.com/ninezeroseven/option-one/wp-content/themes/ninezeroseven/assets/js/contact-form.js?ver=1.0'></script>

      <%= javascript_include_tag "scripts.js" %>
    </resources>
  </body>
</html>