<div class="one-third column project">
  <div class="gallery-padding">
    <div class="img-frame">
      <div class="image-wrapper">
        <a href="<%= bid.website %>" title="<%= bid.name %>" class="img-preview">
          <img src="<%=bid.image %>" height="114" alt="<%= bid.name %> - Image Missing" class="scale-with-grid" />
        </a>
        <div class="mouse-effect"></div>
      </div>

      <h5><%= bid.name %></h5>
      <p><%= bid.location %></div>
  </div>
</div>