---
title: Bollywood America | 2014 | Bay Area, California
---

<!-- Primary Page Layout ================================================== -->

<div id="up"></div>

<!-- TOP BAR -->

<section class="topBar full-header" id="top">
  <div class="container">

    <nav class="mainMenu">
      <ul id="main-menu" class="menu">
        <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="#up">Home</a></li>
        <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="#about">About</a></li>
        <li id="menu-item-151" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-151"><a href="#bids">Bids</a></li>
        <li id="menu-item-149" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-149"><a href="#registration">Registration</a></li>
        <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="#sponsors">Sponsors</a></li>
        <li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-150"><a href="#management">Management</a></li>
      </ul>
    </nav>

    <!-- DROP DOWN MENU -->

    <select size="1" id="subMenu" name="subMenu">
      <option selected="selected" value="">Menu</option>
      <option value="#up">-Home</option>
      <option value="#about">-About</option>
      <option value="#bids">-Bids</option>
      <option value="#registration">-Portfolio</option>
      <option value="#management">-Management</option>
    </select>

    <!-- DROP DOWN ENDS -->

  </div> <!-- ./container -->
</section> <!-- ./topBar -->

<!-- ENDS TOP BAR -->

<section class="headerContent entry">
  <div class="super">

    <a id="prevslide" class="load-item"></a>
    <a id="nextslide" class="load-item"></a>

    <div id="progress-back" class="load-item">
      <div id="progress-bar"></div>
    </div>

    <div class="container message">
      <div id="slidecaption"></div>
    </div>

    <div class="social">
      <a class="hide-text twitter" href="//twitter.com/BollywoodGlobal">Twitter</a>
      <a class="hide-text facebook" href="//facebook.com/bollywoodamerica">Facebook</a>
    </div>
  </div>
</section> <!-- ./headerContent -->

<%= partial :about %>

<%= partial(:parallax, locals: {
  quote: "To dance is to be out of yourself. Larger, more beautiful, more powerful.. This is power, it is glory on earth and it is yours for the taking",
  num: "121"
}) %>

<%= partial :bids %>

<%= partial(:parallax, locals: {
  quote: "To touch, to move, to inspire. This is the true gift of dance.",
  num: "114"
}) %>

<%= partial :registration %>

<%= partial(:parallax, locals: {
  quote: "When I dance, I want people to question the reality of what they’re seeing",
  num: "116"
}) %>


<%= partial :sponsors %>

<%= partial(:parallax, locals: {
  quote: "To dance is to be out of yourself. Larger, more beautiful, more powerful.. This is power, it is glory on earth and it is yours for the taking",
  num: "121"
}) %>

<%= partial :management %>

<section class="footer" id="foot">
  <div class="container">
    <span class="fl">&copy;<a href="http://themes.webcreations907.com/ninezeroseven/option-one">Parallax</a> All Right Reserved</span>
    <span class="fr"><a href="#up">^ Top</a></span>
  </div><!-- ./container -->
</section><!-- ./footer -->