---
title: Bollywood America | 2014 | Bay Area, California
---

<div id="up"></div>

<section class="topBar full-header" id="top">
  <div class="container">
    <a href="//bollywoodamerica.net">
      <h1 class="hide-text">Bollywood America</h1>
    </a>
    <nav class="mainMenu">
      <ul id="main-menu" class="menu">
        <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="#up">Home</a></li>
        <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="#about">About</a></li>
        <li id="menu-item-151" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-151"><a href="#bids">Bids</a></li>
        <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="#sponsors">Sponsors</a></li>
        <li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-150"><a href="#management">Management</a></li>
      </ul>
    </nav>
    <select size="1" id="subMenu" name="subMenu">
      <option selected="selected" value="">Menu</option>
      <option value="#up">-Home</option>
      <option value="#about">-About</option>
      <option value="#bids">-Bids</option>
      <option value="#management">-Management</option>
    </select>
  </div>
</section>

<section class="headerContent entry">
  <div class="super">

    <a id="prevslide" class="load-item"></a>
    <a id="nextslide" class="load-item"></a>

    <div id="progress-back" class="load-item">
      <div id="progress-bar"></div>
    </div>

    <div class="container message">
      <div id="slidecaption"></div>
    </div>

    <div class="social">
      <a class="hide-text twitter" href="//twitter.com/BollywoodGlobal">Twitter</a>
      <a class="hide-text facebook" href="//facebook.com/bollywoodamerica">Facebook</a>
    </div>
  </div>
</section>

<%= partial :about %>

<%= partial(:parallax, locals: { quote: data.quotations[0] }) %>

<%= partial :bids %>

<%= partial(:parallax, locals: { quote: data.quotations[1] }) %>

<%= partial :sponsors %>

<%= partial(:parallax, locals: { quote: data.quotations[2] }) %>

<%= partial :management %>

<section class="footer" id="foot">
  <div class="container">
    <span class="fl">&copy; Original design by <a href="http://themes.webcreations907.com/ninezeroseven/option-one">Parallax</a>. All Right Reserved.</span>
    &nbsp;
    <span>Modified by <a href="//collegedesis.com/">CollegeDesis</a> </span>
    <span class="fr"><a href="#up">^ Top</a></span>
  </div>
</section>